ul { 
	list-style: none; 
	background-color: #00bcd4;
	padding: 2rem 1.25rem;
	margin-left: 1.25rem;
	margin-right: 1.25rem;
}

#list .officeName {
	color: #ffffff;
	margin-top: 0;
	margin-bottom: 0;
}

#list .officeDescription {
	padding-bottom: .9375rem;
	border-bottom: .03125rem solid #808080;
	text-overflow: ellipsis;
  	white-space: nowrap;
  	overflow: hidden;
  	margin-top: .625rem;
}

#list .officeText {
	text-align: left;
	font-size: .8125rem;
	padding-left: 4rem;
}

@media only screen and (min-width: 400px) {
	#list .officeText {
		padding-bottom: 1.25rem;
		font-size: .875rem;
	}
}


@media only screen and (min-width: 700px) {
	#list  .officeText {
		font-size: 1.225rem;
	}
}
